@charset "utf-8";
.js-clock h1 {
    font-family: arial;
    font-size: 100px;
    font-weight: bold;
    color: skyblue;
    text-align: center;
}

.greetings {
    display: none;
}

.showing {
    display: block;
}